[MYSQL]
host:
username:
password:
database:

[LIQUID]
host:
port:
username:
password:
wallet:
passphrase:

[SECURITY]
token:
fixedGaid:
authorizerAddress:

[BETA]
token:
fixedGaid:
authorizerAddress:

[GDK]
mnemonic:
subaccount:
