<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="description" content="Liquid.wine">
     <meta name="author" content="Sassicaioshi Freisamoto">
     <link rel="icon" href="">
     <title>🍷 Liquid wine</title>
     <link href="/static/bootstrap.min.css" rel="stylesheet">
     <link href="/static/wine.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
              <a class="navbar-brand" href="/status">Status</a>
              <a class="navbar-brand" href="/stats">Activities</a>
              <a class="navbar-brand" href="/balance">Balance</a>
              <a class="navbar-brand" href="/utxos">UTXOs</a>
              <a class="navbar-brand" href="/authorizer">Authorizer</a>
              <a class="navbar-brand" href="https://blockstream.com/liquid/securities/" target="_blank">Liquid securities</a>
              <a class="navbar-brand" href="https://blockstream.info/liquid/" target="_blank">Explorer</a>
              <a class="navbar-brand" href="/about">Credits</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <center>
               <h1>ERROR!!!</h1>
               <p>Oh noooo waterrrr</p>
               <h3>{{result}}</h3>
               <p>{{description}}</p>
               </center>
            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
